{% extends "base.html" %}
{% load i18n staticfiles pages_tags %}

{% block title %}
    {{ block.super }}{{ landing.title }}
{% endblock title %}

{% block meta_keywords %}
	{{ landing.seo_keywords }}
{% endblock %}
{% block meta_description %}
	{{ landing.seo_description }}
{% endblock %}
{% block extra_meta %}
    <meta property="og:url"                content="{{ current_url }}" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{ landing.title }}" />
    <meta property="og:description"        content="{{ landing.column_1|striptags|truncatewords:25 }}" />
    <meta property="og:image"              content="{% static 'images/dexalytics-logo.png' %}" />
{% endblock extra_meta %}

{% block content %}

	<article>
		{% if landing.subheader %}
	    <header>
	    	<h3>{{ landing.subheader }}</h3>
	    </header>
		{% endif %}

		{% if landing.columns == 'HALF' %}
			<section class="column-1">
				{{ landing.column_1|safe }}
			</section>

			<section class="column-2">
				{{ landing.column_2|safe }}
			</section>

		{% else %}

			<section class="full-column">
				{{ landing.column_1|safe }}
			</section>

		{% endif %}

		<footer>
			{% if landing.cta %}
			 <a href="https://{{ current_url }}/{{ landing.cta_url }}">{{ landing.cta_text }}</a>
			{% endif %}

			{% if landing.socials %}
				<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ landing.addthis_pubid }}"></script>

			  <div class="social-media">
			  	<div class="addthis_inline_share_toolbox"></div>
   	    </div>
			{% endif %}
		</footer>

	</article>
{% endblock %}
