{% load i18n staticfiles pages_tags %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %} dir="rtl" {% endif %} class="nojs">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="application-version" content="{{ request.application_version }}">

    {% block extra_meta %}
    {% endblock extra_meta %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/app.min.css' %}">


    {% block extra_css %}{% endblock %}

    {% if HOST == request.META.HTTP_HOST %}
        {# Includes GA stuff here #}
    {% endif %}

    <title>{% block title %}Dexalytics{% endblock %} // {% if landing.title %}{{ landing.title }}{% else %}{% show_content current_page "title" %}{% endif %}</title>
</head>

<body>
    {% block gtm %}

    {% endblock %}

    <div class="page-container">

      {% include 'includes/header.html' %}

      {% if messages %}
        <div class="message-alert">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {% for message in messages %}
                {% if message.level == 25 %}
                    {{ message|safe}}
                {% else %}
                    {{ message|safe}}
                {% endif %}
            {% endfor %}
        </div>
      {% endif %}

      <main class="page-{{ current_page|default_if_none:'landing' }}">
        {% block content %}{% endblock %}
      </main>
    </div>

    <script src="{% static 'js/app.min.js' %}"></script>

    {% block extra_html %}{% endblock %}

    {% block scripts %}{% endblock %}


</body>

</html>
